.example-five {
  padding-bottom: 60px;
}
.projects {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  font-family: 'Play', 'Open Sans', 'Arial', sans-serif;

  .page-title {
    text-align: center;
    width: 100%;
    margin: 100px 0 60px;

    font-family: 'Play', 'Open Sans', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 60px;
    line-height: 1.17;

    color: #2f3847;
  }
  .btn {
    display: block;
    text-align: center;
    max-width: 300px;
    size: 100%  60px;
    padding: 16px;
    margin: 0;
    border: none;

    font-family: 'Play', 'Open Sans', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.27;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

    background-image: linear-gradient(to right, #0066ba, #49c0ea);
    box-shadow: 0 2px 6px 0 rgba(29, 45, 72, 0.2), 0 1px 2px 0 rgba(29, 45, 72, 0.2);
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;

    &:hover,
    &:focus {
      background-image: linear-gradient(to right, #008cff, #79dcff);
      box-shadow: 0 2px 6px 0 rgba(29, 45, 72, 0.2), 0 1px 2px 0 rgba(29, 45, 72, 0.2);
      -webkit-appearance: none;
    }
    &:active {
      background-image: linear-gradient(rgba(29, 45, 72, 0.1), rgba(29, 45, 72, 0.1)), linear-gradient(to right, #0066ba, #49c0ea);
      box-shadow: inset 0 1px 3px 0 rgba(29, 45, 72, 0.2);
      -webkit-appearance: none;
    }
    &.btn-bg {
      border-radius: 0;
      border: solid 1px #ffffff;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: none;


      &:hover {
        background-color: #49c0ea;
        box-shadow: 0 2px 6px 0 rgba(29, 45, 72, 0.2), 0 1px 2px 0 rgba(29, 45, 72, 0.2);
      }

      &:active {
        background-color: #45bfea;
      }
    }
  }
}
.projects-list {
  width: calc(100% + 15px);
  padding: 0;
  margin: 0 -7.5px;

  font-size: 0;
  list-style: none;

  text-align: center;
}
.projects-list__item {
  position: relative;
  display: inline-block;
  max-width: 390px;
  min-width: 300px;
  max-height: 300px;
  height: auto;
  width: calc(100% / 3 - 15px)
  margin: 7.5px;

  border: 1px solid #d9dde1;

  overflow: hidden;

  &:hover .projects-list__item--hover,
  &:focus .projects-list__item--hover {
    opacity: 1;
  }

  img {
    max-width: 100%;
    min-height: 100%;
    z-index: 0;
  }

  &:hover .projects-list__item--without-image,
  &:focus .projects-list__item--without-image {
    opacity: 0;
  }
}
.projects-list__item--hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 15px 45px;
  margin: auto;

  opacity: 0;
  background-image: linear-gradient(to right, rgba(#0066ba, .9), rgba(#49c0ea, .9));

  transition: all 0.25s;

  z-index: 1;

  &:hover,
  &:focus {
    opacity: 1;
  }

  h3 {
    position: relative;
    display: block;
    width: 100%;

    padding-bottom: 17px;
    margin: 0;
    font-size: 34px;
    font-weight: 300;
    text-align: left;
    color: $white;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;

      content: '';
      size: 30px 2px;
      margin: auto;

      background: $white;
    }
  }

  p {
    position: relative;
    display: block;
    width: 100%;

    font-weight: 300;

    margin-top: 11px;

    font-size: 20px;
    line-height: 1.7;
    text-align: left;
    color: $white;
  }

  .btn-bg {
    margin-top: 30px;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
  }
}
.projects-list__item--hover {
  h3 {
    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 1123px) {
  .projects-list__item--hover {
    h3 {
      font-size: 23px;
      font-weight: 300;
      text-align: left;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        size: 23px 2px;
      }
    }

    p {
      margin-top: 15px;

      text-align: left;
      font-size: 15px;
      line-height: 1.6;
    }
  }
}
@media screen and (max-width: 1023px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects-list__item {
    width: calc(50% - 15px);
  }

  .projects-list__item--hover {
    h3 {
      text-align: center;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    p {
      text-align: center;
    }
  }
}
@media screen and (max-width: 670px) {
  .page-title {
    font-size: 30px;
    line-height: 1.33;
    margin: 30px 0 10px;
  }
  .projects-list__item {
    width: calc(100% - 15px);
    margin: 0 0 10px;
  }
}

@supports (display: grid)  {
  .example-four {
    .projects-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 15px;
      justify-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .projects-list__item {
      position: relative;
      max-width: 390px;
      min-width: 0;
      max-height: none;
      width: 100%;
      margin: 0;
      border: 1px solid #d9dde1;
      overflow: hidden;
    }
  }
}
